html {
	font-family: 'Helevetica', sans-serif;
	background-color: #fff;
}

body {
	color: #333;
	font-weight: 100;
	max-width: 200em;
	/*margin: 0 auto;*/
}

footer {
	padding: 1em;
	text-align: center;
	background-color: #ddd;
	color: #999;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	top: 50px;
}

div:focus {
	outline: none;
}

#heading {
	font-size: 48px;
	letter-spacing: 1px;
	padding-top: 30px;
	margin-left: 250px;
}

#content {
	padding-top: 10px;
	font-size: 24px;
	margin-left: 250px;
	width: 800px;
	min-height: calc(100vh - 222px);
	word-wrap: break-word;
}

#boxed {
	padding: 16px;
	padding-bottom: 122px;
	position: relative;
	float: left;
	border: 6px solid #ddd;
	margin-left: 32px;
	margin-top: 116px;
	margin-right: 32px;
}

#boxed p {
	font-size: 32px;
	color: #333;
	letter-spacing: 8px;
	line-height: 72px;
	margin-right: 2px;
	margin-bottom: 72px;
	margin-top: 6px;
}

.lettersColor1 {
	color: #333;
}
.lettersColor2 {
	color: #5b7d86;
}
